<ion-view view-title="Browse">
  <ion-content>
      
    <div class="card item-text-wrap center">
      <webcam id="video"
        on-stream="onStream(stream)"
        on-streaming="onSuccess()"
        on-error="onError(err)">
      </webcam>
      <canvas id="video-canvas" width="{{width}}" height="{{height}}" style="display:none;"></canvas>
    </div>
      <div class="item item-body center">
        <button class="button danger outline" id="startbutton">
          <i class="ion-record big " ></i>  
        </button>

      </div>

  </ion-content>
</ion-view>