<ion-view view-title="CastMe">
  <ion-content class="content-with-full-height">

    <div class="row responsive-sm">
      <div class="col cast_me">
        <!-- <img src="img/cast_me.png" alt="cast me" class="cast_me"> -->
        <img src="img/cast_me.png" alt="cast me">
      </div>
    
      <div class="col my_cast">
        <!-- <img src="img/my_cast.png" alt="my cast" class="my_cast"> -->
        <img src="img/my_cast.png" alt="my cast">
      </div>
      </div>
    <!-- <img ng-src="" alt="{{park.name}}"> -->
  </ion-content>
</ion-view>