/* Empty. Add your own CSS if you like */

/*.bar.bar-header.bar-balanced{
	margin-bottom: 20px;
}*/

.thumbnail{
	width:300px !important;
	height:200px;
}

.trailer_image{
	width:400px !important;
	height:400px;
}

.frames{
	width:400px;
	height:300px;
}

// home page
.content-with-full-height{
  height: 100%;
}

.cast_me { 
  background: url('../img/cast_me.png') no-repeat fixed;
  background-size: 60%;
  background-position: 30% 15%;
  height: 50vh;
}

.my_cast { 
  background: #000000 url('../img/my_cast.png') no-repeat;
  background-size: 50%;
  background-position: 30% 15%;
  height: 50vh;
}

.bar-dark {
  background-color: #000000 !important;
}