/* Empty. Add your own CSS if you like */

/*.bar.bar-header.bar-balanced{
	margin-bottom: 20px;
}*/


.image-container{
	max-width: 300px;
 	max-height: 300px;
 	float: left;
}

.image-container img{
	max-width: 250px;
 	max-height: 250px;
}

.trailer_image{
	width:400px !important;
	height:400px;

}

.trailer-title{
}

.frames{
	width:400px;
	height:300px;
}


.content-with-full-height{
  height: 100%;
}

.cast_me { 
  background: url('../img/cast_me.png') no-repeat fixed;
  background-size: 60%;
  background-position: 30% 15%;
  height: 50vh;
}

.my_cast { 
  background: #000000 url('../img/my_cast.png') no-repeat;
  background-size: 50%;
  background-position: 30% 15%;
  height: 50vh;
}

.bar-dark {
  background-color: #000000 !important;
}

// trailer
.warcraft {
  background: #000000 url('../img/warcraft.png') no-repeat;
}

.center {
  text-align: center;
}

.big {
  font-size: 20px;
}

.tag-inner-box{
  background-color: red !important;
}

#video-container #tag-overlay .tag .tag-inner-box{
  background-color: red !important; 
}